.map-viewer-page {
  display: flex;
  flex-direction: column;
  height: 100dvh; 
}

.map-viewer-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
}



@media (max-width: 480px) {

  .map-viewer-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
  }

  .left-panel {
    width: 100%;
    height: 50dvh; 
    overflow-y: auto;
    z-index: 2;
    flex-shrink: 0;
    background: white;
  }

  .map-main {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    flex-grow: 1;
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
  }
}
