.map-viewer-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.map-viewer-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
}

@media (max-width: 768px) {
  .map-viewer-body {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .left-panel {
    flex-shrink: 0;
    width: 100%;
  
  }
  .basemap-tile {
    width: 100%;
    height: 160px;
  }


  }


